<h1>動画アップロード</h1>
<%= form_with model: @video, local: true, html: { id: "upload-form" } do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: "タイトル" %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description, placeholder: "説明" %>
  </div>

  <div>
    <%= f.label :visibility %>
    <%= f.select :visibility, [%w[公開 public], %w[限定公開 unlisted], %w[非公開 private]], {}, {} %>
  </div>

  <div>
    <%= f.label :file, "動画ファイル" %>
    <%= f.file_field :file, id: "video-file" %>
  </div>

  <div>
    <%= f.label :thumbnail, "サムネイル画像" %>
    <%= f.file_field :thumbnail, accept: "image/*" %>
  </div>

  <%= f.submit "アップロード", id: "upload-button" %>
<% end %>

<div id="upload-status"></div>

<%=link_to "動画一覧へ", videos_path, class: 'text-gray-800 px-4 py-2 rounded hover:bg-gray-200 cursor-pointer' %>