<div class='max-w-6xl mx-auto px-8'>
  <div class='flex justify-center items-center min-h-[calc(100vh-134px)]'>
    <div class="w-full md:w-10/12 lg:w-8/12 mx-auto bg-white p-8 rounded shadow">
      <h2 class="text-center"><%= t('.title') %></h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field mb-3 shadow-sm rounded">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field mb-3 shadow-sm rounded">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field mb-3 shadow-sm rounded">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions text-center">
          <%= f.submit t('.login') %>
        </div>
      <% end %>
      <div class="text-center">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>